body {
	font-family: Bookman, URW Bookman, serif;
	width: 90%;
	background-color: #fbd9b6;
}


.name {
	font-size: 1.2em;
}

.resumeGrid {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 0.5em;
	margin-left: auto;
	margin-right: auto;
	
}

.resumeGrid > .sectionName {
	font-size: 1.3em;
	align-self: start;
	padding: 0.8em;
	justify-self: start;
}

.resumeGrid > div.header > div.name {
	font-size: 1.4em;
}

.resumeGrid > div {
	background-color: #f9fafd;
	padding-left: 1em;
	padding-right: 1em;
	box-shadow: 2px 2px 2px #794006;
	border-radius: 6px;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.resumeGrid > div > div:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #794006;
}

.resumeGrid > div > div {
  padding-top: 0.8em;

}

.headingText{
	font-family: optima, sans-serif;
	font-size: 1.2em;
}

.subHeading{
	font-size: 0.9em;
	font-style: italic;
}

.resumeGrid > .header {
	display: grid;
	grid-template-areas: "name"
						 "focus"
						 "address"
						 "phone"
						 "email";
	grid-template-rows: auto;
	grid-row-gap: 0em;
	padding-bottom: 0.4em;
}

.resumeGrid > div.header > div {
	border-bottom-style: none;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: .3em;
}

.resumeGrid > div.header > div.name{
	grid-area: name;
	align-self: start;
	align-self: stretch;
	padding-bottom: 0;
	font-size: 1.3em;
	border-bottom-style: none;
	border-bottom-style: solid;
	border-width: medium;
	padding-top: 0.8em;
}

.resumeGrid > div.header > div.focus{
	grid-area: focus;
	align-self: end;	
	font-style: italic;
	
	align-self: stretch;
	font-size: 1em;
	padding-bottom:0.2em;
	padding-bottom: 0.8em;
}
div.header > div.address {
	grid-area: address;
	border-bottom-style: none;
}

div.header > div.phone {
	grid-area: phone;
	border-bottom-style: none;
}
.header > .email {
	grid-area: email;
	padding-bottom: 0.8em;
}

.resumeGrid > div.objective {
	font-style: italic;
	padding:.75em;
	padding-left: 1em;
	padding-right: 1em;
	width: 90%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.school > .degree, .dates, .location {
	font-style: italic;
}

.degree > .title, .major, .GPA {
	display: inline-block;
}
.education > .details {
}

.position > .title, .dates {
	display: inline-block;
	font-style: italic;
}

.workplace > .description {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.skills {
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 0;
}

.resumeGrid > .skills > div {
	border-bottom-style: none;
}

.resumeGrid > div.skills > div.skillset {
	padding-top: 0;
}

.resumeGrid > div.skills > div.skillset:not(:last-child) {
	border-bottom-style: solid;
}
.resumeGrid > .skills > div.separator {
	padding: 0;
	border-bottom-style: none;
}

.resumeGrid > div.skills > div {
	align-self: center;
	border-bottom-style: none;
}

.resumeGrid > .honors > div {
		padding-bottom: 0.8em
}
.compact ul {
	list-style: none;
	display: inline-block;
	text-align: left;
}

.compact li {
	display: inline-block;
}

.compact li:after {
	content: ", ";
}

.compact li:last-child:after {
	content: "";
}